@charset "UTF-8"

@font-face {
    font-family: 'overlock';
    src: url(fontes/Overlock_SC/OverlockSC-Regular.ttf) format(.ttf);
}

* {
    margin: 0px;
    padding: 0px;

    --font-padrao: 'overlock';
    --font-destaque: Arial, Verdana, Helvetica, sans-serif;
}
html,body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font-padrao);
}

header {
    background-color: black;
    color: white;
    font-family: var(--font-destaque);
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
    font-size:large;    
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a, footer a:hover {
    text-decoration: underline;
}

a::after {
    text-decoration: none;
}

section {
    padding-top: 10vh; /*10vh significa 10% da altura da tela (viewport height)*/
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.324);
}

#pordosol {
    background-color: black;
    background-image: url(imagens/sunset-7490522_1920.jpg);
    height: 300px;
    position: relative;
}

#carta {
    background-color: black;
    background-image: url(imagens/paper-3091211_1920.jpg);
    height: 300px;
    position: relative;

}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}