@charset "UTF-8"

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

:root{
    --font-padrao: "Cedarville Cursive", serif;
    --font-destaque: "Passion One", serif;
    --font-detalhes: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font-detalhes);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family:var(--font-destaque);
    font-size: 6vw;
}

header > p {
    padding-bottom: 50px;
    font-size:large;    
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a, footer a:hover {
    text-decoration: underline;
}

a::after {
    text-decoration: none;
}

section {
    padding-top: 10vh; /*10vh significa 10% da altura da tela (viewport height)*/
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font-padrao);
    font-size: 3.5vw;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px black;
    background-attachment: fixed; /*Deixa a iamgem parada ao rolar a tela. Uma sensação de 3D.*/
    /*background-size: cover; - O professor sugere usar essa propriedade para que tota a imagem seja exibida, não só um trecho. No meu caso, preferi não usar por estética.  */ 
}

section.imagem > p {
    display: inline-block; /*Essa propriedade faz com que o box tenha um tamanho de acordo com o tamanho do texto inserido nele.*/
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-shadow: 1px 1px 0px black;
}

section#pordosol {
    background-image: url(imagens/sunset-7490522_1920.jpg);
    background-position: center center;
}

section#carta {
    background-image: url(imagens/paper-3091211_1920.jpg);
    background-position: left center; 
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2.5vh;
}